<div style="display: flex">
  <div class="modal-title c-male" style="font-weight: 400; font-size: 20px">
    Código de Evento: <strong> {{ idEvento }}</strong>
  </div>
  <div class="flex-1"></div>
</div>

<div class="pr-module-container">
  <div style="overflow: auto; min-height: 100px; max-height: 160px">
    <table class="cli-table stripedtable underlinedtable">
      <thead>
        <tr class="bgc-turquey c-white">
          <th>RPA</th>
          <th>N° INCIDENCIA</th>
          <th>MOTIVOS(Notas)</th>
          <th>RUNTIME</th>
          <th>H. CREACIÓN</th>
          <th>ESTADO</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let detalle of listDetalle; let i = index">
          <td>{{ detalle.aplicacion }}</td>
          <td>{{ detalle.codigo_ticket_generado }}</td>
          <td style="text-align: left">{{ detalle.notas }}</td>
          <td>{{ detalle.servicios }}</td>
          <td style="min-width: 95px">{{ detalle.hora_generacion }}</td>
          <td>{{ detalle.estado }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
